@import '../../../styles/colors';

.wrapper {
    display: grid;
    width: 100%;
    @media only screen and (min-width: 700px) {
        grid-template-columns: 66.667% 33.334%;
    }
}

.titleSection {
    
}

.pinSection {
    padding: 24px;
}